.login-section .card-title{
    font-size: 30px;
}
.login-section .card{
    box-shadow: 0px 0px 27px #235bd4;
}
.login-section input{
    height: 55px;
    /* border: none; */
    background-color: #eee;
}
.login-section button{
    height: 55px;
    font-weight: 600;
    background-color: #0a53b4;
    border-color: #0a53b4;
}