.category_container {
    margin: 50px;
    background-color: #2a9bce;
    padding: 50px;
}
.category_container h3{
text-align: center;
}
.category_container p{
    text-align: center;
}
.category_container input{
    width: 80%;
    height: 51px;
    border: 0;
    border-radius: 6px;
    padding: 0px 20px;
    font-size: 18px;
}
.category_container button{
    height: 49px;
    border: 0;
    background-color: #000000;
    border-radius: 5px;
    color: #fff;
    padding: 0px 20px;
    margin-left: 20px;
}