<div class="container my-5">
    <div class="row clearfix">
      <div class="col-lg-6">
        <div class="category" routerLink="/categories">
            <div class="card_panel text-center">
                <div><i class="fa fa-address-book" aria-hidden="true"></i></div>
                <h3>Category</h3>
                <p>Manage your Category Details Here</p>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
            <div class="category" routerLink="/new-post">
                <div class="card_panel text-center">
                    <div><i class="fa fa-address-book" aria-hidden="true"></i></div>
                    <h3>Posts</h3>
                    <p>Manage your Posts Details Here</p>
                </div>
            </div>
            </div>
        </div>
        </div>
